<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
{% load static %}
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-icon-57x57.png'  %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'img/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Eric Zorn's Pizzeria</a>
</nav>

<div class="container">
    <br><br>
    <h1>Listed Orders:</h1>
    <a href="/"><button class="btn btn-danger">Please Login to Add Orders</button></a>

    <br><br><br>
     <ul class="list-group header" style="list-style: none">
        <h1>Pizzas &amp; Toppings</h1>
        {% for topping in pizzas %}
            <br>
            <li><a class="list-group-item list-group-item-action active">{{ topping }}</a></li>
        {% endfor %}

        <br>
        <h1>Sides</h1>
        {% for side in sides %}
         <br>
         <li><a class="list-group-item list-group-item-action active">{{ side }}</a></li>
        {% endfor %}

        <br>
        <h1>Beverages</h1>
        {% for drink in drinks %}
         <br>
         <li><a class="list-group-item list-group-item-action active">{{ drink }}</a></li>
        {% endfor %}
    </ul>
</div>